<!DOCTYPE html>
<html ng-app="yomoApp">
<head>
    <title>Räntan.se</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href="content/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    <style type="text/css">


        body {
            color: #555555;
            font-family: 'Open Sans',Arial,Helvetica,sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            background: url("back.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
            border-top: 3px solid #E24E35;
        }

        h1 {
            font-family: Oswald, Arial;
        }

        .logo-icon {
            font-size:100px;
        }

        .color {
            color:#E24E35
        }

        header {
            margin-top: 30px;
            text-align:center;
        }

        footer {
            background: url("fback.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
            border-top: 3px solid #E24E35;
            color: #DDDDDD;
            font-size: 14px;
            margin-top: 30px;
            padding: 10px 0;
        }

        .panel .panel-heading {
            background-color: #E24E35;
            color: #fff;
        }

        .panel-locked {
            opacity: 0.3;
        }

        .locked {
            z-index:1000;position:absolute;left:0;right:0;margin:auto;text-align:center;top:0;bottom:0;height:25px;
        }

        .fa {
            font-size:25px;
            color:white;
        }

        td {
            border:0 !important;
        }

.table > tbody + tbody {
  border:0;
}
    </style>
</head>
<body>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logotype">
                        <div class="logo-icon">
                            <span class="glyphicon glyphicon-thumbs-up" style=""></span>
                        </div>
                        
                        <h1 class="color">Räntan.se</h1>
                        
                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="description">
                        
                        <p>
                            Räkna snabbt ut dina räntekostnander. Jämför hur olika räntor och amorteringsbelopp påverkar din ekonomi.
                            </p>
                        <p>
                            Vi hjälper dig ta rätt beslut om dina lån.
                        </p>

                    </div>
                </div>

                <hr />

            </div>

        </div>
    </header>

    <div class="container" ng-controller="CalculateController">
        <div class="row" ng-repeat="loan in calculations" ng-controller="LoanController">

            <div class="col-md-12">
                <div class="locked" ng-hide="loan.active">
                    <button type="button" class="btn btn-lg btn-primary" ng-click="activate(loan)">Lägg till ny beräkning</button>
                </div>
                <div class="panel panel-default" ng-class="{'panel-locked': !loan.active}" >
                    <div class="panel-heading">
                        <span  contenteditable>{{loan.name}}</span>
                        <div class="pull-right">
                            <a href="">
                            <i  class="fa fa-money"></i>
                                </a>
                            <a>
                            <i class="fa fa-usd"></i>
                                </a>
                        </div>
                        
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">

                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Lånebelopp</label>
                                        <div class="col-lg-4">
                                            <input type="text" ng-model="loan.sum" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Räntesats</label>
                                        <div class="col-lg-3">
                                            <div class="input-group">
                                                <input type="text" ng-model="loan.interest" class="form-control">
                                                <span class="input-group-addon">%</span>
                                            </div>

                                        </div>
                                    </div>


                                    <!--
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Amortering</label>
                                        <div class="col-lg-3">
                                            <input type="text" ng-model="loan.installment" class="form-control">
                                        </div>
                                        <span>i månaden</span>
                                    </div>
                                    -->
                                     <div class="form-group" ng-repeat="installment in loan.installments">
                                        <label class="col-lg-4 control-label">Amortering #{{$index+1}}</label>
                                        <div class="col-lg-3">
                                            <input type="text" ng-model="installment.sum" class="form-control">
                                        </div>
                                        <span>i månaden</span>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"></label>
                                        <div class="col-lg-3">
                                            <button ng-click="addInstallment()" type="button" class="btn btn-primary btn-sm pull-right"><i class="glyphicon glyphicon-plus"></i> Jämför med...</button>
                                        </div>
                                    </div>
                                    
                                        
                                </form>
                            </div>

                            <div class="col-md-6">

                                <table class="table">
                                    <tbody ng-repeat="calculation in calculations">
                                        <tr class="first-row">
                                            <td colspan="2" class="active"><small>Amortering {{calculation.installment}}:-</small></td>
                                        </tr>
                                        <tr>
                                            <td>Avbetalt</td>
                                            <td>{{calculation.lastPaymentDate}}</td>
                                        </tr>
                                        <tr class="last-row">
                                            <td>Total räntekostnad</td>
                                            <td>{{calculation.totalInterestCharge}}:-</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <button type="button" class="btn btn-primary pull-right" ng-click="showPayments=!showPayments">Tabell</button>

                                 <table class="table" ng-if="showPayments">
                                    <!--<thead>
                                        <tr>
                                            <th>Datum</th>
                                            <th ng-repeat="">Ränta</th>
                                            <th>Totalt</th>
                                        </tr>
                                    </thead>-->
                                     <tbody>
                                         <tr ng-repeat="payment in payments|limitTo:paymentLimit">
                                            <td><span ng-show="!payment.isSummary">{{payment.date|date:'yyyy-MM'}}</span><span ng-show="payment.isSummary">{{payment.date|date:'yyyy'}}</span></td>
                                            <td ng-repeat="value in payment.monthly">{{value}}</td>
                                        </tr>
                                     </tbody>
                                     <tfoot>
                                         <tr>
                                             <td colspan="3">
                                                 <button type="button" class="btn btn-primary" ng-click="paymentLimit=paymentLimit+12">Mer..</button>
                                             </td>
                                         </tr>
                                     </tfoot>
                                </table>
                            </div>
                        </div>
                        

                    </div>


                </div>
            </div>
        </div>

    </div>

    <div class="clearfix">&nbsp;</div>

    
    <footer>
        <div class="container">
            <div class="contact">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="up"><a class="anchorLink" href="#top"><i class="icon-caret-up"></i></a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form padd">
                            <!-- Contact title -->
                            <h4>Kontakta oss</h4>
                            <hr>
                            <!-- Contact form -->
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="name" class="control-label col-md-3">Namn</label>
                                    <div class="col-md-9">
                                        <input type="text" id="name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label col-md-3">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" id="email" class="form-control">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="comment" class="control-label col-md-3">Meddelande</label>
                                    <div class="col-md-9">
                                        <textarea rows="3" id="comment" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button class="btn btn-danger" type="submit">Skicka</button>
                                        <button class="btn btn-default" type="reset">Rensa</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <!-- Google maps -->
                        <div class="gmap">
                            <iframe scrolling="no" height="250" frameborder="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hampton+Court+Palace,+East+Molesey,+United+Kingdom&amp;aq=2&amp;oq=London&amp;sll=9.930582,78.12303&amp;sspn=0.192085,0.308647&amp;ie=UTF8&amp;hq=Hampton+Court+Palace,+East+Molesey,+United+Kingdom&amp;ll=51.404615,-0.341578&amp;spn=0.013921,0.032015&amp;t=m&amp;output=embed" marginwidth="0" marginheight="0"></iframe>
                        </div>
                        <hr>
                        <!-- Address -->
                        <div class="address">
                            <div class="row">
                                <div class="col-md-6">
                                    <address class="small">
                                        <span class="bold company"><i class="icon-globe color"></i>Codespark</span><br>
                                        Halmstad<br>
                                    </address>
                                </div>
                                <div class="col-md-6">
                                    <address class="small">
                                        <span class="bold company"><i class="icon-user color"></i>Kenny Eliasson</span><br>
                                        <i class="icon-envelope-alt color"></i>kenny@codespark.se<br>
                       
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Copyright info -->
            <div class="row copy">
                <div class="col-md-5 col-sm-5">
                    <div class="padd">
                        <p>Copyright &copy; <a href="#">Räntan.se, Codespark</a></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-sm-offset-4 col-md-offset-4">
                    <div class="padd">
                        <!-- Social media icons. Replace # with your profile link -->
                        <div class="social">
                            <a href="#"><i class="icon-facebook"></i></a>
                            <a href="#"><i class="icon-twitter"></i></a>
                            <a href="#"><i class="icon-linkedin"></i></a>
                            <a href="#"><i class="icon-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
    
    <script type="text/javascript">

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46212289-1', 'azurewebsites.net');
        ga('send', 'pageview');

        var monthNames = ['Januari', 'Februari', 'Mars', 'April', 'Maj', 'Juni', 'Juli', 'Augusti', 'September', 'Oktober', 'November', 'December'];

        var yomoApp = angular.module("yomoApp", []);

        yomoApp.controller("LoanController", function ($scope) {
            
            var loan = $scope.loan;

            $scope.addInstallment = function () {
                loan.installments.push({ sum: 1000 });
            }

            $scope.$watch("loan.interest + loan.sum", function () {
                calculate();
            });

            $scope.$watch("loan.installments", function () {
                calculate();
            }, true);
            
            var calculateMontlyCost = function (sum, interest) {
                return ((sum * interest) / 12);
            }

            var calculateSingleInstallment = function (sum, interest, installment) {

                if (installment < 100)
                    return [];

                var payments = [];
                var currentDate = new Date();
                currentDate.setDate(1);

                while (sum > 0) {
                    var montlyInterestCharge = calculateMontlyCost(sum, interest);
                    sum = sum - installment;
                    payments.push({ monthlyCost: montlyInterestCharge, sum: sum, date: new Date(currentDate.getFullYear(), currentDate.getMonth(), 1) });
                    currentDate.setMonth(currentDate.getMonth() + 1);
                }
                
                return payments;
            };

            var calculate = function () {

                if (!loan.active)
                    return;

                var interest = loan.interest / 100;
                var totalInterestCharge = 0;
                var sum = loan.sum;

                var installmentOptions = [];
                var lowestInstallment = 0;
                var lowestInstallmentIndex = 0;
                for (var i = 0; i < loan.installments.length; i++) {

                    if (lowestInstallment < loan.installments[i].sum) {
                        lowestInstallment = loan.installments[i];
                        lowestInstallmentIndex = i;
                    }
                    
                    var installment = parseInt(loan.installments[i].sum);
                    installmentOptions.push(calculateSingleInstallment(sum, interest, installment));
                }

                $scope.calculations = [];
                for (var i = 0; i < installmentOptions.length; i++) {
                    var totalInterestCharge = 0;
                    installmentOptions[i].forEach(function (n) { totalInterestCharge += n.monthlyCost });
                    var lastDate =  installmentOptions[i][installmentOptions[i].length - 1].date;

                    $scope.calculations.push({
                        totalInterestCharge: totalInterestCharge.toFixed(),
                        lastPaymentDate: monthNames[lastDate.getMonth()] + ", " + lastDate.getFullYear(),
                        installment: loan.installments[i].sum
                    });                 
                }

                var payments = [];

                for (var index = 0; index < installmentOptions[lowestInstallmentIndex].length; index++) {
                    var currentDate = installmentOptions[lowestInstallmentIndex][index].date;
                    var monthly = [];
                    var sums = [];
                    for (var option = 0; option < installmentOptions.length; option++) {
                        var currentOption = installmentOptions[option];
                        if (currentOption.length > index) {
                            monthly.push(installmentOptions[option][index].monthlyCost);
                            sums.push(installmentOptions[option][index].sum);
                        } else {
                            monthly.push(0);
                            sums.push(0);
                        }
                    }

                    payments.push({ date: currentDate, monthly: monthly, sums: sums, year: currentDate.getFullYear() });
                }


                var currentYear = new Date().getFullYear();
                var yearlySums = {};

                var model = [];
                
                addYearlyArray(yearlySums, installmentOptions, currentYear);

                for (var i = 0; i < payments.length; i++) {
                    var currentPayment = payments[i];
                    if (currentYear < currentPayment.year) {

                        model.push({ date: currentPayment.date, monthly: yearlySums[currentYear].map(function (val) { return val.toFixed(); }), isSummary: true });

                        currentYear++;
                        addYearlyArray(yearlySums, installmentOptions, currentYear);
                    } 
                    currentPayment.monthly.forEach(function (val, index) { yearlySums[currentYear][index] += val; });
                    model.push({ date: currentPayment.date, monthly: currentPayment.monthly.map(function (val) { return val.toFixed(); }), sums: currentPayment.sums.map(function (val) { return val.toFixed(); }) });
                }
                
                $scope.payments = model;

               
            };

            var addYearlyArray = function (yearlySums, installmentOptions, year) {
                yearlySums[year] = [];
                for (var i = 0; i < installmentOptions.length; i++) {
                    yearlySums[year][i] = 0;
                }
            };
        });

        yomoApp.controller("CalculateController", function ($scope) {

            $scope.calculations = [{
                name: "Lån #1",
                interest: "5.00",
                sum: "100000",
                installment: "1000",
                active: true,
                installments: [{ sum: "1000" }, { sum: "2000" }]
            }, {
                name: "Ett annat lån",
                interest: "7.23",
                sum: "100000",
                installment: "1500",
                installments: [{ sum: "1000" }, { sum: "2000" }],
                active: false
            }];

            $scope.activate = function (loan) {
                var copy = angular.copy(loan);
                loan.active = true;
                $scope.calculations.push(copy);
            };


        });
    </script>


</body>
</html>

